*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* superior | direita | inferior | esquerda */
/* padding: 2px 1em 0 1em; */
header, h2{
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 40px;
    width: 100%;
    height: 100px;
}
h1{
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
}
p{
    color: #565d60;
    font-weight: 500;
}

h2{
    font-weight: 700;
}

/* superior | direita | inferior | esquerda */
/* padding: 30px 0 20px 40px; */
.container{
    padding: 30px 40px 20px 40px;
}
.linha {
    display: flex;
    font-weight: 700;
    gap: 10px;

}
.col{
    font-weight: 400;
    width: 100%;}

input, textarea{
    border:1px solid rgba(128, 128, 128, 0.379);
    border-radius: 5px;
    display: flex;
    width: 100%;}

input{
    height: 45px;}


